// compileOnSave: false
$font_light:            #f2f2f2;
$font_dark:             #333333;
$font_dark_faded:       #999999;

$button_bg:             #622599;
$button_bg_hover:       #44215b;

$title_bg:              #0055d4;
$title_bg_hover:        #084ca1;
$title_detail:          #00112b;

$main_nav_bg:           #ce181e;
$main_nav_bg_hover:     #96181e;

$line_bg:               #f37021;
$footer_bg:             #00002b;
$post_stats_bg:         #f7f7f7;
$comments_bg:           #fafafa;
